/*
Vit: #F4F4F8
Rosa: #FAB0A6
Orange: #DB7851
Röd: #AF232C
Brun: #672727
*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #f4f4f8;
}
.all{
background-color: #fab0a6;
width: 1500px;
margin-left: 200px;
border-left: solid #f9c1b9 4px;
border-right: solid #f9c1b9 4px;
}
.about-us{
color: #672727;
margin-left: -100px;
}
.owners{
margin-left: -100px;
color:#f4f4f8;
}
.members{
    color:#f4f4f8;
    margin-left: 290px;
    padding-bottom: 20px;
    margin-top: -40px;
}

.item-1 {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 500px;
    margin-left: 650px;
    text-align: center;
    margin-top: 100px;
}

.item-1 a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    margin: 0;
}
.owners a{


}
 /* Eivor */
.card-1{
    display: flex;
    align-items: center;
    background-color: #AF232C;
    width: 500px;
    height: 140px;
    border: 1px solid #AF232C;
    border-radius: 8px;
    padding: 10px;
   margin-left: 390px;
   margin-top: 10px; 
   
}

.card-1 img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 6px;
    border-style: solid;
    border-color: #921c24;
}

.card-1-content {
    flex-grow: 1;
}

.card-1-content h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #ffffffbc;
}

.card-1-content p {
    margin: 0;
    color: #ffffffbc;
}


/* Gunnar */
.card-2{
    display: flex;
    align-items: center;
    background-color: #AF232C;
    width: 500px;
    height: 140px;
    border: 1px solid #AF232C;
    border-radius: 8px;
    padding: 10px;
    margin-left: 920px;
    margin-top: -139px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}
.card-2 img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 6px;
    border-style: solid;
    border-color: #921c24;
}
.card-2-content {
    flex-grow: 1;
}
.card-2-content h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #ffffffbc;
}
.card-2-content p {
    margin: 0;
    color: #ffffffbc;
}
.card h2{
font-size: large;
}
.card p{
font-size: small;
}

.member-1{
    display: flex;
    align-items: center;
    background-color: #AF232C;
    width: 550px;
    height: 240px;
    border: 1px solid #AF232C;
    border-radius: 8px;
    padding: 10px;
    
    margin-top: 100px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.member-1 img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 6px;
    border-style: solid;
    border-color: #921c24;
}

.member-1-content {
    flex-grow: 1;
}

.member-1-content h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #ffffffbc;
}

.member-1-content p {
    margin: 0;
    color: #ffffffbc;
}
.member-2{
    display: flex;
    align-items: center;
    background-color: #AF232C;
    width: 550px;
    height: 240px;
    border: 1px solid #AF232C;
    border-radius: 8px;
    padding: 10px;
  
   margin-top: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.member-2 img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 6px;
    border-style: solid;
    border-color: #921c24;
}

.member-2-content {
    flex-grow: 1;
}

.member-2-content h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #ffffffbc;
}

.member-2-content p {
    margin: 0;
    color: #ffffffbc;
}
.member-3{
    display: flex;
    align-items: center;
    background-color: #AF232C;
    width: 550px;
    height: 240px;
    border: 1px solid #AF232C;
    border-radius: 8px;
    padding: 10px;
    margin-top: 10px; 
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.member-3 img {
    width: 150px;
    height: auto;
    margin-right: 20px;
    border-radius: 6px;
    border-style: solid;
    border-color: #921c24;
}

.member-3-content {
    flex-grow: 1;
}

.member-3-content h2 {
    margin: 0 0 10px;
    font-size: 1.5em;
    color: #ffffffbc;
}

.member-3-content p {
    margin: 0;
    color: #ffffffbc;
}
/*   footer  */
footer{
    display: flex;
    justify-content: center;
    background-color:#F4F4F8;
    font-size: small;
    width: 100%;
    text-align: center;
    padding:10px;
    position: absolute;
    bottom: 0px;
    border-top: 2px solid rgb(228, 228, 228);
    }
    .contact{
    padding-left: 15px;
    padding-right: 15px;
    }
    .contact a:link{
    color: black;
    text-decoration: none;
    
    }
    .links{
    padding-left: 15px;
    
    }
    .links a {
    color: black;
    text-decoration: none;
    }
    footer .links a:hover{
    color:blue

    }
    footer .sociala-medier a:hover{
    color:blue  

    }
    footer .contact a:hover{
    color:blue

    }
    ul{
    list-style-type: none;
    
    }
    .sociala-medier{
    padding-left: 15px;
    
    }
    .sociala-medier a{
    color: black;
    
    }
    
      @media only screen and (max-width: 545px) {
        footer{
            margin-left: -12px;
        padding:10px;
        font-size: 10px;
        margin-bottom:20px;
        
          
        }
      }
      footer{
        display: flex;
        justify-content: center;
        background-color: #F4F4F8;
        font-size: small;
        height: 150px;
        width: 100%;
        text-align: center;
        padding:10px;
        position: relative;
        bottom: 0px;
        border-top: 2px solid rgb(228, 228, 228);
        }
        .contact{
        padding-left: 15px;
        padding-right: 15px;
        }
        .contact a:link{
        color: black;
        text-decoration: none;
        
        }
        .links{
        padding-left: 15px;
        
        }
        .links a {
        color: black;
        text-decoration: none;
        }
        ul{
        list-style-type: none;
        
        }
        .sociala-medier{
        padding-left: 15px;
        
        }
        .sociala-medier a{
        color: black;
        
        }
        
        @media only screen and (max-width: 545px) {
            footer{
                margin-left: -12px;
            padding:10px;
            font-size: 10px;
            margin-bottom:20px;
            
              
            }
          }
        /*header*/

 